/*Form Target
_blank	The response is displayed in a new window or tab
_self	The response is displayed in the current window
_parent	The response is displayed in the parent frame
_top	The response is displayed in the full body of the window
framename	The response is displayed in a named iframe

<form>	Defines an HTML form for user input
<input>	Defines an input control
<textarea>	Defines a multiline input control (text area)
<label>	Defines a label for an <input> element
<fieldset>	Groups related elements in a form
<legend>	Defines a caption for a <fieldset> element
<select>	Defines a drop-down list
<optgroup>	Defines a group of related options in a drop-down list
<option>	Defines an option in a drop-down list
<button>	Defines a clickable button
<datalist>	Specifies a list of pre-defined options for input controls
<output>	Defines the result of a calculation*/


body { 
    margin: 0px;
    padding: 0px;
    position: relative;
}

.shape{
    height: 100vh;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle1{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle2{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
}
.rectangle-container{
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: -50px;
    width: 100px;
}
.rectangle{
    height: 125px;
    width:60px;
    background-color: green;
    transform:rotateZ(160deg); 
    border-radius: 35px;
}
.registerformwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    position: fixed;
    background-color: rgba(255, 0, 0, 0.24);
    /* opacity: 0.9; */
    width: 100%;
    z-index: 5;
}
.closebtn {
    position: absolute;
    top: 40px;
    right: 150px;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    /* font-weight:bolder; */
}
.closebtn:hover{
    cursor: pointer;
}

.signincontainer{
    /* min-height: 80vh; */
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color:white;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;  
    /* justify-content: space-evenly; */
}


.signin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0px;
    border:solid 4px rgba(255, 0, 0, 0.24);
    /* width: 100%; */
    background-color: white;
    min-height: 20vh;
    align-self: center;
}
.signupwrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0px;
    border:solid 4px rgba(255, 0, 0, 0.24);
    /* width: 25%; */
    min-height: 20vh;
    background-color: white;
    align-self: center;
    display: none;
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding: 5px 10px 10px 10px;
    /* background-color: ; */
}
.signupform{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    width: 100%;
    height: 30vh;
    /* padding-left: 0px; */
    /* padding-top: 20px; */
}
.signuptext{
    color: black;
    font-size:20px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    margin: 5px 0px 10px 10px; 
    padding-top: 13px;
}
label {
    font-size: 16px;
    font-weight: bolder;
    font-family: 'EB Garamond', serif;
    margin-left: 3px;
}
.signupinput{
    height: 30px;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(209, 205, 205);
}
.signupinput:hover{
    cursor: auto;
}
.signupbutton{
    align-self: center;
    background-color: rgba(77, 17, 17, 0.904);
}
.signupsubmit{
    color: whitesmoke;
    cursor:pointer;
    border: 0px;
    font-size: 15px;
    font-family: 'EB Garamond', serif; 
    background-color: rgba(77, 17, 17, 0.904);
}
.altsignupcontainer{
    background: linear-gradient(
        rgba(255, 0, 0, 0.096), 
        rgba(255, 0, 0, 0.24)
      ),url(../images/Pasta\ 1.jpg);
    background-size: cover;
}
.altsignup{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.altbutton{
    align-self: center;  
}
.altsignupbutton{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 5px;
    padding: 5px;
    cursor:pointer;
    border: 0px;
    box-sizing: none;
    background-color:rgb(255, 255, 255);
    color: black;
    font-size: 12px;
    font-family: 'EB Garamond', serif; 
    border: 0px;
    border-radius: 5px;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;  
}
.altlabel{
    width: 200px;
}
.altsignupicon{
    width: 20px;
    height: 20px;
    align-self: center;

}
.loginmsg{
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}
.loginlink, .signuplink{
    text-decoration: none;
    color:rgba(77, 17, 17, 0.904);
}
.loginlink, .signuplink:hover{
    cursor:pointer
}